<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <meta charset="utf8">

    <title>Marionette Contact Manager</title>

    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Contact Manager</a>
            </div>

            <!--
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Catalog</a>
                    </li>
                    <li>
                        <a href="#about">Order History</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="../navbar/">Welcome, UserName</a>
                    </li>
                </ul>
            </div>
            -->
        </div>
    </div>

    <div class="row">
        <div class="jumbotron">
            <div class="container">
                <h1>Contact Manager<small>A Marionette experiment</small></h1>
                <p>
                    Contact Manager is based on the project built by <a target="_blank" href="http://davidsulc.com/">David Sulc</a> in
                    the <a target="_blank" href="https://leanpub.com/marionette-gentle-introduction">Backbone Marionette.js - A Gentle Introduction</a> book.
                    This version of the project is an updated version that includes usage of Bootstrap 3 and some code changes and UI improvements from the samples
                    used in the book. This version of the demo application is built on top of Node.js, Express.js, and Mongoose. Additionally,
                    Underscore templates have been replaced with Handlebars templates in order to cleanly remove any conflict between EJS markers
                    and templates used by Backbone.Marionette.js by default.
                </p>
            </div>
        </div>
        <div class="row">
            <div id="main-region" class="container">
                <p>
                    Loading static content...
                </p>
            </div>
        </div>
    </div>


    <!--
        **************************************************************************************
        *   Handlebars Templates
        **************************************************************************************
    -->
    <script type="text/x-handlebars-template" id="contact-list">
        <table>
            <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th />
            </thead>
            <tbody></tbody>
        </table>
    </script>

    <script type="text/x-handlebars-template" id="empty-contact-list">
        <h2>Empty</h2>
        <p>There are currently no contacts to display</p>
    </script>

    <script type="text/x-handlebars-template" id="contact-list-item">
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td>
            <div class="btn-group">
                <a href="#contacts/{{_id}}" class="btn btn-success btn-sm show">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    Show
                </a>
                <button type="button" class="btn btn-warning btn-sm edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit
                </button>
                <button class="btn btn-danger btn-sm delete">
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                </button>
            </div>
        </td>
    </script>

    <script type="text/x-handlebars-template" id="contact-view">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{firstName}} {{lastName}}</h3>
            </div>
            <div class="panel-body">
                <p><strong>Phone Number:</strong> {{phoneNumber}}</p>
            </div>
            <div class="panel-footer">
                <button type="button" id="back" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span>Back</span>
                </button>

                <button type="button" id="edit" class="btn btn-warning btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span>Edit</span>
                </button>
            </div>
        </div>
    </script>

    <script type="text/x-handlebars-template" id="missing-contact-view">
        <h1>Error</h1>
        <div class="alert alert-danger">The contact does not exist!</div>
    </script>

    <script type="text/x-handlebars-template" id="loading-view">
        <h1>{{loadHeading}}</h1>
        <p>{{loadMessage}}</p>
        <div id="spinner"></div>
    </script>

    <script type="text/x-handlebars-template" id="contact-form">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Edit {{firstName}} {{lastName}}</h4>
            </div>
            <div class="panel-body">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label for="contact-firstName" class="col-sm-2 control-label">First Name:</label>
                        <div class="col-sm-5">
                            <input type="text" id="contact-firstName" name="firstName" class="form-control input-sm" value="{{firstName}}" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact-lastName" class="col-sm-2 control-label">Last Name:</label>
                        <div class="col-sm-5">
                            <input type="text" id="contact-lastName" name="lastName" class="form-control input-sm" value="{{lastName}}" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact-phoneNumber" class="col-sm-2 control-label">Phone Number:</label>
                        <div class="col-sm-5">
                            <input type="tel" id="contact-phoneNumber" name="phoneNumber" class="form-control input-sm" value="{{phoneNumber}}" placeholder="Phone Number">
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <button type="button" id="cancel" class="btn btn-warning btn-sm">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span>Cancel</span>
                </button>

                <button type="submit" id="submit" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    <span>Save</span>
                </button>
            </div>
        </div>
    </script>

    <!--
        **************************************************************************************
        *   Script Library references
        **************************************************************************************
    -->
    <script src="/libs/jquery-2.1.0.js"></script>
    <script src="/libs/underscore.js"></script>
    <script src="/libs/backbone.js"></script>
    <script src="/libs/backbone-marionette.js"></script>
    <script src="/libs/backbone-syphon.js"></script>
    <script src="/libs/handlebars-v1.3.0.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/libs/spin.js"></script>
    <script src="/libs/spin-jquery.js"></script>

    <script src="/apps/app.js"></script>
    <script src="/apps/common/utils.js"></script>
    <script src="/apps/entities/contact.js"></script>
    <script src="/apps/contacts/contacts-app.js"></script>
    <script src="/apps/contacts/list/list-view.js"></script>
    <script src="/apps/contacts/list/list-controller.js"></script>
    <script src="/apps/contacts/show/show-controller.js"></script>
    <script src="/apps/contacts/show/show-view.js"></script>
    <script src="/apps/common/views.js"></script>
    <script src="/apps/contacts/edit/edit-view.js"></script>
    <script src="/apps/contacts/edit/edit-controller.js"></script>

    <script>
        (function() {
            ContactManager.start();
        })();
    </script>
</body>
</html>